.banner-wrapper {
  background: linear-gradient(135deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 50%), url("https://images.unsplash.com/photo-1490114538077-0a7f8cb49891?dpr=1&auto=format&fit=crop&w=1500&h=&q=60&cs=tinysrgb&crop=");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.logo-home {
  color: #f6f7f7;
  text-transform: uppercase;
  font-size: 56px;
  padding: 15px;
  letter-spacing: 2.3px;
}

.banner-content {
  color: #e9ecec;
  text-shadow: 0 1px 2px rgba(0,0,0,0.33);
  font-size: 25px;
}

.toggle-cities {
  padding: 0 17px;
}
