body {
  background: linear-gradient(135deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 50%), url("https://images.unsplash.com/photo-1490114538077-0a7f8cb49891?dpr=1&auto=format&fit=crop&w=1500&h=&q=60&cs=tinysrgb&crop=");
}

.banner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-home {
  color: #f6f7f7;
  text-transform: uppercase;
  font-size: 56px;
  padding: 15px;
  letter-spacing: 1.9px;
}

.banner-content {
  color: #e9ecec;
  font-size: 25px;
}
