.card {
  width: 30%;
  margin: 1%;
  /*flex: 1 1 30%;*/
  position: relative;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
}

.card a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.card a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.card-content {
  padding: 30px 30px 110px;
}

.card-content h2, .card-content h5 {
  line-height: 1.2;
  color: #444444;
  margin-top: 8px;
}

.card-social {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.card-social-inner {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  border-top: 1px solid #efefef;
  margin: 0 30px;
  padding: 30px 0;
}

.desc {
  margin: 5px 0 15px;
  line-height: 1.6;
  color: #666666;
}

.card-img-wrapper {
  height: 50%;
}

.card img {
  width: 100%;
}

.likes i {
  color: red;
}
