.stores-wrapper {
  display: flex;
}

.application-wrapper {
  background-color: white;
}

.sort-options {
  padding-left: 20px;
  padding-bottom: 3vh;
  color: #44505C;
  font-weight: 500;
}

.sort-options span{
  cursor: pointer;
  font-weight: normal;
  color: #444444;
}
