.filter-options {
  min-width: 10vh;
  /* background-color: #e8e8e8; */
  padding: 20px 0 0 20px;
  margin-right: 40px;
}

.filter-options h6{
  color: #565656;
  font-weight: bolder;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-price-option i {
  padding: 2px;
  color: #565656;
}

i.gray {
  color: #e8e8e8;
}

.filter-style-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-style-option {
  padding: 2px;
  border: none;
  text-align: left;
  color: #565656;
  cursor: pointer;
}

.filter-style-option:focus {
  outline: none;
}
