.filter-options {
  min-width: 10vh;
  /* background-color: #e8e8e8; */
  padding: 20px 0 0 20px;
  margin-right: 40px;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-price-option i {
  padding: 2px;
  color: #565656;
}

i.gray {
  color: #e8e8e8;
}

.filter-style-option {
  padding: 2px;
}
