.storeview-wrapper {
  background-color: white !important;
}

.storeview-content {
  display: flex;
  justify-content: space-around;
}

.store-data-wrapper {
  flex: 0 1 50%;
  padding: 0 40px;
}

.img-view img {
  max-height: 50vh;
}

.store-navigation {
  text-decoration: none;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #444444;
  padding-left: 22px;
}

.store-navigation:hover {
  text-decoration: none;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

@media only screen and (max-width: 680px){
  .storeview-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .comments-wrapper {
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-view img{
    width: 80vw;
    height: 100%;
    display: none;
  }

  .store-data {
    padding: 1vh 4vw;
  }

  .store-data-wrapper {
    padding: 0;
  }

  #map {
    width: 100vw;
    margin: 0;
  }
}
