.card {
  width: 320px;
  margin-left: 20px;
  margin-bottom: 18px;
  position: relative;
  border: 1px solid #efefef;
  border-radius: 2px;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all .3s ease;
}

.card a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.card a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.card-top h2 {
  font-size: 1.4rem;
}

.address-wrapper {
  font-size: 0.9rem;
}

.card-content {
  /*padding: 30px 30px 110px;*/
  padding: 25px 25px 90px;
}

.card-content h2, .card-content h5 {
  line-height: 1.1;
  color: #444444;
  margin-top: 8px;
}

.card-social {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.card-social-inner {
  display: flex;
  align-items: center;
  border-top: 1px solid #efefef;
  margin: 0 30px;
  padding: 22px 0;
}

.desc {
  margin: 5px 0 15px;
  line-height: 1.6;
  color: #666666;
}

.card-img-wrapper {
  height: 50%;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.card-img {
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.card:hover .card-img {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.card img {
  width: 100%;
}

.likes i {
  color: red;
}

.likes {
  padding-right: 10px;
}
